gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
/lib/Private
android/app/agconnect-services.json
GeneratedPluginRegistrant.java
android/app/keystore.properties
android/app/keystore.jks
**/*.keystore
**/*.jks
